

<ion-content>

  <ion-item class="register">
    <ion-input class="registertext"> Registrarse</ion-input>
  </ion-item>

  <ion-item class="login">
    <ion-input class="logintext"> iniciar sesion</ion-input>
  </ion-item>







  <ion-item class="mail">
    
    <ion-input class="mailtext"> Nombre de usuario/Mail</ion-input>
  </ion-item>

  <ion-item class="password">
    
    <ion-input class="passwordtext"> Contraseña</ion-input>
  </ion-item>
  


  
    <ion-text class="forgor"> Olvide mi contraseña</ion-text>
    
    <ion-text class="changepg"> No tienes usuario?</ion-text>
    <ion-text class="changepg2">Registrarse</ion-text>


</ion-content>
