

<ion-content>

  <ion-item class="register" routerLink="/login1">
    <ion-text class="registertext"> Registrarse</ion-text>
  </ion-item>

  <ion-item class="login">
    <ion-text class="logintext" > iniciar sesion</ion-text>
  </ion-item>

  <ion-item class="mail">
    
    <ion-input class="mailtext" placeholder="Nombre de usuario/Mail"> </ion-input>
  </ion-item>

  <ion-item class="password">

    <ion-input class="passwordtext" [type]="showpassword ? 'text' : 'password' "placeholder="Contraseña" > </ion-input>
    <ion-icon color="medium" slot="end" [name]="passowrdtgi" (click)="togglepassword()"></ion-icon>
  </ion-item>
  

    <ion-text class="forgor" routerLink="/login2" > Olvide mi contraseña</ion-text>

    <ion-text class="changepg"> No tienes usuario?</ion-text>
    <ion-text class="changepg2" routerLink="/home" >Registrarse</ion-text>


</ion-content>
