

<ion-content>

  <ion-item class="register">
    <ion-text class="registertext"> Registrarse</ion-text>
  </ion-item>

  
  <ion-item class="login" href="../login/login.page.html">
    <ion-text class="logintext"> iniciar sesion</ion-text>
  </ion-item>


  <ion-item class="name">
    
    <ion-input class="nametext" placeholder="Nombre de usuario"> </ion-input>
  </ion-item>


  <ion-item class="mail">
    
    <ion-input class="mailtext" placeholder="Mail/Numero de telefono"> </ion-input>
  </ion-item>

  <ion-item class="password">
    
    <ion-input class="passwordtext" [type]="showpassword ? 'text' : 'password' " placeholder="Contraseña"> </ion-input>
    <ion-icon color="medium" slot="end" [name]="passowrdtgi" (click)="togglepassword()"></ion-icon>
    
  </ion-item>

  <ion-item class="passwordcf">
    
    <ion-input class="passwordcftext" [type]="showcfpassword ? 'text' : 'password' " placeholder="Confirmar contraseña"> </ion-input>
    <ion-icon color="medium" slot="end" [name]="cfpassowrdtgi" (click)="togglecfpassword()"></ion-icon>
    
  </ion-item>
  


  
    <ion-text class="forgor"> Olvide mi contraseña</ion-text>
    
    <ion-text class="changepg"> No tienes usuario?</ion-text>
    <ion-text class="changepg2">Registrarse</ion-text> 


</ion-content>
