

<ion-content>

  <ion-item class="register">
    <ion-text class="registertext"> Registrarse</ion-text>
  </ion-item>

  
  <ion-item class="login" routerLink="/login">
    <ion-text class="logintext"> iniciar sesion</ion-text>
  </ion-item>


  <ion-item class="name">
    
    <ion-input class="nametext" [(ngModel)]="name" placeholder="Nombre de usuario"> </ion-input>
  </ion-item>


  <ion-item class="mail">
    
    <ion-input class="mailtext" [(ngModel)]="mail"    placeholder="Mail"> </ion-input>
  </ion-item>

  <ion-item class="cuit">
    
    <ion-input class="mailtext" [(ngModel)]="cuit"    placeholder="CUIT"> </ion-input>
  </ion-item>

  <ion-item class="numerofono">
    
    <ion-input class="mailtext" [(ngModel)]="telefono"    placeholder="Numero de telefono"> </ion-input>
  </ion-item>


  <ion-item class="password">
    
    <ion-input class="passwordtext" [(ngModel)]="password"    [type]="showpassword ? 'text' : 'password' " placeholder="Contraseña"> </ion-input>
    <ion-icon color="medium" slot="end" [name]="passowrdtgi" (click)="togglepassword()"></ion-icon>
    
  </ion-item>

 <!--  <ion-item class="passwordcf">
    
    <ion-input class="passwordcftext" [(ngModel)]="password" [type]="showcfpassword ? 'text' : 'password' " placeholder="Confirmar contraseña"> </ion-input>
    <ion-icon color="medium" slot="end" [name]="cfpassowrdtgi" (click)="togglecfpassword()"></ion-icon>
    
  </ion-item> -->


  
   
  
    
   


<ion-button class="confirm" color="" (click)="registrarLocal()">registrarme</ion-button>



</ion-content>
